{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Movie Recommender</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content" style="margin-top: 64px !important">
  {% if user.is_authenticated %}
    <li><a class='header-text' href="{% url 'profile' user.username %}">Profile</a></li>
    <li><a class='header-text' href="{% url 'logout' %}">Log out</a></li>
  {% endif %}
</ul> 
<nav class="header-style">
  <div class="container nav-wrapper" style="display: flex;justify-content: space-between;">
    <div style="height: 100%;">
      <img class="header-icon-style" src="{% static 'img/icons/icon-header.jpg' %}"/>
      <a href="{% url 'home_page' %}" class="brand-logo header-text">Movie Review</a>
    </div>
    <div>
      <ul class="right hide-on-med-and-down group-right">
        <!-- Dropdown Trigger -->
        {% if user.is_authenticated %}
        <li><a class="header-text dropdown-trigger" href="#!" data-target="dropdown1">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a>
          {% else %}
          <li><a class='header-text' href="{% url 'login' %}">LOG IN</a></li>
          <li><a class="waves-effect waves-light red sign-up-button" href="{% url 'signup' %}">SIGN UP</a></li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
        
<div style="margin-top:64px">
  {% block banner %}

  {% endblock %}
</div>

  <div class="container">
    <div class="section">

    {% block content %}
    {% endblock %}

    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
