{% extends 'base.html' %}
{% load static %}

{% block banner %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header center teal-text text-lighten-2">Movie Recommendation</h1>
              <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea typ="submit" id="textarea1" name="q" value="{{ request.GET.q }}" class="materialize-textarea"></textarea>
                    <label for="textarea1">Search</label>
                  </div>
                  <button type="submit" name="action" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Search</button>
                </div>
              </form>
            </div>
        </div>
        <br><br>
      </div>
    </div>
    <!-- <div class="parallax"><img src="{% static 'img/dark-banner.jpg' %}" alt="Unsplashed background img 1"></div> -->
  </div>
{% endblock %}


{% block content %}
<!--   Icon Section   -->
<div class="row">
  {% for movie in movie_data %}
  <div class="col s12 l4 m6 xl3">
    <div class="card card-style">
      <div class="card-image-movie">
        {% if movie.Poster == 'N/A' %}
        <a href="{% url 'movie-details' movie.imdbID%}"
          ><img class="card-image-movie" src="{% static 'img/no_poster.jpg' %}"
        /></a>
        {% else %}
        <a href="{% url 'movie-details' movie.imdbID%}"
          ><img class="card-image-movie" src="{{ movie.Poster }}"
        /></a>
        {% endif %}
      </div>
      <div class="card-content-home-page">
        <span class="card-title"><b>{{ movie.Title }}</b></span>
        <span style="display: flex; align-items: center"
          ><i class="material-icons">date_range</i>{{ movie.Year }}</span
        >
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
