{% extends 'base.html' %} {% load static %} {% block content %}

<!--   Icon Section   -->
<div class="row">
  <div class="col s12 m12">
    <div class="card horizontal">
      <div class="image-style">
        {% if exists_db is True %}
        <img class="img-fluid" src="{{ movie_data.Poster.url }}" />
        {% else %}
        <img class="img-fluid" src="{{ movie_data.Poster }}" />
        {% endif %}
      </div>
      <div class="card-stacked card-item">
        <div class="card-content-moviedetails">
          <h1 class="card-title">{{ movie_data.Title }}</h1>
          <!-- <span>{{ movie_data.Type }}</span> -->
          <br />
          <p>{{ movie_data.Plot }}</p>
          <br />
          <div class="divider"></div>
          <span class="text-style">Year: <b>{{ movie_data.Year }}</b></span>
          <!-- <span class="right">Rated: <b>{{ movie_data.Rated }}</b></span> -->
          <div class="text-style">
            Released: <b>{{ movie_data.Released }}</b>
          </div>
          <div class="text-style">Runtime: <b>{{ movie_data.Runtime }}</b></div>

          {% if exists_db is True %}
          <div class="text-style">
            Genre: {% for genre in movie_data.Genre.all %}
            <b> <a href="{{ genre.get_absolute_url }}">{{ genre }}</a>, </b>
            {% endfor %}
          </div>
          {% else %}
          <div class="text-style">Genre: <b>{{ movie_data.Genre }} </b></div>
          {% endif %}

          <div class="text-style">
            Director: <b>{{ movie_data.Director }}</b>
          </div>
          <div class="text-style">Writer: <b>{{ movie_data.Writer }}</b></div>

          {% if exists_db is True %}
          <div class="text-style">
            Actors: {% for actor in movie_data.Actors.all %}
            <b> <a href="{{ actor.get_absolute_url }}">{{ actor }}</a>, </b>
            {% endfor %}
          </div>
          {% else %}
          <div class="text-style">Actors: <b>{{ movie_data.Actors }}</b></div>
          {% endif %}

          <div class="text-style">
            Language: <b>{{ movie_data.Language }}</b>
          </div>
          <div class="text-style">Country: <b>{{ movie_data.Country }}</b></div>
          <div class="text-style">Awards: <b>{{ movie_data.Awards }}</b></div>
          <div class="text-style">
            Box Office: <b>{{ movie_data.BoxOffice }}</b>
          </div>
          <div class="text-style">
            imdb Votes: <b>{{ movie_data.imdbVotes }}</b>
          </div>
          <div class="text-style">imdb ID: <b>{{ movie_data.imdbID }}</b></div>
          <div class="text-style">
            Production: <b>{{ movie_data.Production }}</b>
          </div>

          <br />
          <a
            href="{% url 'rate-movie' movie_data.imdbID %}"
            class="waves-effect waves-light btn"
            ><i class="material-icons left">star</i>Rate</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m12">
    <div class="card">
      <ul class="collection">
        {% if exists_db is True %} 
          {% for movie in movie_data.Ratings.all %} 
            {% if movie.source == 'Internet Movie Database' %}
              <li class="collection-item avatar">
                <img
                  src="{% static 'img/icons/imdb_icon.png' %}"
                  alt=""
                  class="circle"
                />
                <span class="title">{{ movie.source }}</span>
                <p><b>{{ movie.rating }}</b></p>
              </li>
            {% elif movie.source == 'Rotten Tomatoes' %}
              <li class="collection-item avatar">
                <img
                  src="{% static 'img/icons/rt_icon.png' %}"
                  alt=""
                  class="circle"
                />
                <span class="title">{{ movie.source }}</span>
                <p><b>{{ movie.rating }}</b></p>
              </li>
            {% else %}
              <li class="collection-item avatar">
                <img
                  src="{% static 'img/icons/meta_icon.png' %}"
                  alt=""
                  class="circle"
                />
                <span class="title">{{ movie.source }}</span>
                <p><b>{{ movie.rating }}</b></p>
              </li>
            {% endif %} 
          {% endfor %} 
        {% else %}

        <li class="collection-item avatar">
          <img
            src="{% static 'img/icons/imdb_icon.png' %}"
            alt=""
            class="circle"
          />
          <span class="title">{{ movie_data.Ratings.0.Source }}</span>
          <p><b>{{ movie_data.Ratings.0.Value }}</b></p>
        </li>

        <li class="collection-item avatar">
          <img
            src="{% static 'img/icons/rt_icon.png' %}"
            alt=""
            class="circle"
          />
          <span class="title">{{ movie_data.Ratings.1.Source }}</span>
          <p><b>{{ movie_data.Ratings.0.Value }}</b></p>
        </li>

        <li class="collection-item avatar">
          <img
            src="{% static 'img/icons/meta_icon.png' %}"
            alt=""
            class="circle"
          />
          <span class="title">{{ movie_data.Ratings.2.Source }}</span>
          <p><b>{{ movie_data.Ratings.0.Value }}</b></p>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
