{% extends 'base.html' %} {% load static %} {% block content %}

<!--   Icon Section   -->
<div class="row" style="background-color: #020d18; padding-top: 20px;">
  <div class="col s4">
    <div class="movie-img">
      <div>
        {% if exists_db is True %}
        <img class="img-fluid" src="{{ movie_data.Poster.url }}" />
        {% else %}
        <img class="img-fluid" src="{{ movie_data.Poster }}" />
        {% endif %}
      </div>
      <div class="movie-btn-container group-flex" style="flex-direction: column;">
        <a
        href="{% url 'rate-movie' movie_data.imdbID %}"
        class="waves-effect waves-light btn movie-btn orange"
        >
        <i class="material-icons left">star</i>Rate
        </a>
        <a href="{% url 'add-movies-to-watch' movie_data.imdbID %}" class="waves-effect waves-light btn movie-btn">
          <i class="material-icons left">playlist_add</i>Watchlist
        </a>
      </div>
    </div>
  </div>
  <div class='col s8'>
    <div class='movie-details'>
      <div class='title-container'>
        <h2 class="card-title white-text">{{ movie_data.Title }} 
          <span class="text-year">
          {{ movie_data.Year }}
          </span>
        </h2>
      </div>
      <div class='ruler'></div>
      <div class="rating-container">
        <h5 class='white-text'>REVIEW RATING: </h5>
        <div style="margin-left:24px">
          {% if exists_db is True %} 
            {% for movie in movie_data.Ratings.all %} 
              {% if movie.source == 'Internet Movie Database' %}
                <li class="rating-type">
                  <img
                    src="{% static 'img/icons/imdb_icon.png' %}"
                    alt=""
                    class="circle"
                    style="height:40px;width: 50px;"
                  />
                  <div class='text-rating'>
                    <span class="title text-style">{{ movie.source }}</span>
                    <p class='text-style'><b>{{ movie.rating }}</b></p>
                  </div>
                </li>
              {% elif movie.source == 'Rotten Tomatoes' %}
                <li class="rating-type">
                  <img
                    src="{% static 'img/icons/rt_icon.png' %}"
                    alt=""
                    class="circle"
                    style="height:40px;width: 50px;"

                  />
                  <div class='text-rating'>
                    <span class="title text-style">{{ movie.source }}</span>
                    <p class='text-style'><b>{{ movie.rating }}</b></p>
                  </div>
                </li>
              {% else %}
                <li class="rating-type">
                  <img
                    src="{% static 'img/icons/meta_icon.png' %}"
                    alt=""
                    class="circle"
                    style="height:40px;width: 50px;"

                  />
                  <div class='text-rating'>
                    <span class="title text-style">{{ movie.source }}</span>
                    <p class='text-style'><b>{{ movie.rating }}</b></p>
                  </div>
                </li>
              {% endif %} 
            {% endfor %} 
          {% else %}

            {% for movie in movie_data.Ratings %} 
                {% if movie.Source == 'Internet Movie Database' %}
                  <li class="rating-type">
                    <img
                      src="{% static 'img/icons/imdb_icon.png' %}"
                      alt=""
                      class="circle"
                      style="height:40px;width: 50px;"
                    />
                    <div class='text-rating'>
                      <span class="title text-style">{{ movie.Source }}</span>
                      <p class='text-style'><b>{{ movie.Value }}</b></p>
                    </div>
                  </li>
                {% elif movie.Source == 'Rotten Tomatoes' %}
                  <li class="rating-type">
                    <img
                      src="{% static 'img/icons/rt_icon.png' %}"
                      alt=""
                      class="circle"
                      style="height:40px;width: 50px;"

                    />
                    <div class='text-rating'>
                      <span class="title text-style">{{ movie.Source }}</span>
                      <p class='text-style'><b>{{ movie.Value }}</b></p>
                    </div>
                  </li>
                {% else %}
                  <li class="rating-type">
                    <img
                      src="{% static 'img/icons/meta_icon.png' %}"
                      alt=""
                      class="circle"
                      style="height:40px;width: 50px;"

                    />
                    <div class='text-rating'>
                      <span class="title text-style">{{ movie.Source }}</span>
                      <p class='text-style'><b>{{ movie.Value }}</b></p>
                    </div>
                  </li>
                {% endif %} 
              {% endfor %} 
  
      
          {% endif %}
        </div>
      </div>
      <div class='ruler'></div>
      <div class='overview'>
        <h5 class='white-text'>OVERVIEW:</h5>
        <div>
          <p class='text-style'>{{ movie_data.Plot }}</p>
          <div class="text-style">Runtime: <b>{{ movie_data.Runtime }}</b></div>
          {% if exists_db is True %}
          <div class="text-style">
            Genre: {% for genre in movie_data.Genre.all %}
             <a href="{{ genre.get_absolute_url }}">{{ genre }}</a>, 
            {% endfor %}
          </div>
          {% else %}
          <div class="text-style">Genre:  {{ movie_data.Genre }} </div>
          {% endif %}

          <div class="text-style">
            Director: <b>{{ movie_data.Director }}</b>
          </div>

          <div class="text-style">Writer:  <b>{{ movie_data.Writer }}</b></div>

          {% if exists_db is True %}
          <div class="text-style">
            Actors: {% for actor in movie_data.Actors.all %}
             <a href="{{ actor.get_absolute_url }}">{{ actor }}</a>, 
            {% endfor %}
          </div>
          {% else %}
          <div class="text-style">Actors: {{ movie_data.Actors }}</div>
          {% endif %}

          <div class="text-style">
            Language: <b>{{ movie_data.Language }}</b>
          </div>

          <div class="text-style">Country: <b>{{ movie_data.Country }}</b></div>

          <div class="text-style">Awards: <b>{{ movie_data.Awards }}</b></div>

          <div class="text-style">
            Box Office: <b>{{ movie_data.BoxOffice }}</b>
          </div>

          <div class="text-style">
            imdb Votes: <b>{{ movie_data.imdbVotes }}</b>
          </div>

          <div class="text-style">imdb ID: <b>{{ movie_data.imdbID }}</b></div>

          <div class="text-style">
            Production: <b>{{ movie_data.Production }}</b>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
