{% extends 'base.html' %} {% load static %} {% block content %}

<!--   Icon Section   -->
<div class="row">
  <div class="col s4">
    <div class="profile-container">
      <div class="avatar-container">
        {% if profile.avatar %}
        <img class='avatar-style' src="{{ profile.avatar.url }}" />
        {% else %}
        <img
          class='avatar-style'
          src="{% static 'img/no_avatar.jpg' %}"
        />
        {% endif %}

      </div>
      <div class='avatar-name white-text center-align'>
        <b>{{ profile.first_name }} {{ profile.last_name }}</b>
      </div>
      <div class='ruler' style="width:100%; margin-top:16px;"></div>
      <div >
        <div class='title-avatar-info'>
          Account details
        </div>
        <div style="margin-left:8px; display:flex;align-items: center;">
          <p style="padding-right:6px;">
            <a href="{% url 'profile-reviewed-list' profile.user.username %}">
              <b> Reviewed Movies</b>
            </a>
          </p>
          <p class="center-align white-text"><b> : {{ m_reviewed_count }}</b></p>
        </div>
        <div style="margin-left:8px; display:flex;align-items: center;">
          <p style="padding-right:6px;">
            <a href="{% url 'profile-watch-list' profile.user.username %}">
              <b> WatchList Movies</b>
            </a>
          </p>
          <p class="center-align white-text"><b> : {{ watch_list_count }}</b></p>
        </div>
      </div>
      <div class='ruler' style="width:100%; margin-top:16px;"></div>
      <div >
        <div class='title-avatar-info'>
          Others
        </div>
        <div style="margin-left:8px; display:flex;align-items: center;">
          <p style="padding-right:6px;">
            <a href="{% url 'change-password' %}">
              <b>Change Password</b>
            </a>
          </p>
        </div>
        <div style="margin-left:8px; display:flex;align-items: center;">
          <p style="padding-right:6px;">
            <a href="{% url 'edit-profile' %}">
              <b>Edit Profile</b>
            </a>
          </p>
        </div>
        <div style="margin-left:8px; display:flex;align-items: center;">
          <p style="padding-right:6px;">
            <a href="{% url 'my-recommendation' %}">
              <b class="orange-text">My Recommendation</b>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='col s8'>
    <div class="profile-movie">
      {% if list_title == 'Movie Reviewed' %}
      <h4 class="white-text">{{ list_title }}</h4>
      <div class="ruler"></div>
    
      <div class="row">
        {% for movie in movie_data %}
        <div class="col s12 m4">
          <div class="card card-style">
            <div class="card-overlay">
              <div class="card-image-movie">
                {% if movie.Poster == 'N/A' %}
                <a href="{% url 'movie-details' movie.imdbID%}"
                  ><img
                    class="card-image-movie"
                    src="{% static 'img/no_poster.jpg' %}"
                /></a>
                {% else %}
                <a href="{% url 'movie-details' movie.imdbID%}"
                  ><img class="card-image-movie" src="{{ movie.Poster }}"
                /></a>
                {% endif %}
              </div>
            </div>
            <div class="card-content-search-page" style='display:flex;flex-direction: column;align-items: center;'>
              <div style="display:flex;align-items:center">
                <img style="width:20px;height:auto" src="{% static 'img/icons/star.png' %}"/> 
                <p class='white-text' style="font-size:24px">{{ movie.user_rated }}/10 IMDB</p>
              </div> 
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    
      {% if movie_data.has_previous %}
      <a
        href="?page={{ movie_data.previous_page_number }}"
        class="waves-effect waves-light btn"
        ><i class="material-icons left">arrow_back</i>Back</a
      >
      {% endif %} 
      {% if movie_data.has_next %}
      <a
        href="?page={{ movie_data.next_page_number }}"
        class="waves-effect waves-light btn"
        ><i class="material-icons left">add</i>Load more</a
      >
      {% endif %} 
      {% else %}
        <h4 class="white-text">{{ list_title }}</h4>
        <div class="ruler"></div>
      
        <div class="row">
          {% for movie in movie_data %}
          <div class="col s12 m4">
            <div class="card card-style">
              <div class="card-overlay">
                <div class="card-image-movie">
                  {% if movie.Poster == 'N/A' %}
                  <a href="{% url 'movie-details' movie.imdbID%}"
                    ><img
                      class="card-image-movie"
                      src="{% static 'img/no_poster.jpg' %}"
                  /></a>
                  {% else %}
                  <a href="{% url 'movie-details' movie.imdbID%}"
                    ><img class="card-image-movie" src="{{ movie.Poster.url }}"
                  /></a>
                  {% endif %}
                </div>
              </div>
              <div class="card-content-search-page" style='display:flex;flex-direction: column;align-items: center;'>
                <div style="display:flex;align-items:center">
                  <img style="width:20px;height:auto" src="{% static 'img/icons/star.png' %}"/> 
                </div> 
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      
        {% if movie_data.has_previous %}
        <a
          href="?page={{ movie_data.previous_page_number }}"
          class="waves-effect waves-light btn"
          ><i class="material-icons left">arrow_back</i>Back</a
        >
        {% endif %} 
        {% if movie_data.has_next %}
        <a
          href="?page={{ movie_data.next_page_number }}"
          class="waves-effect waves-light btn"
          ><i class="material-icons left">add</i>Load more</a
        >
        {% endif %} 

      {% endif %}
    </div>

  </div>


  
</div>

{% endblock %}
